body{
background:#050505;
color:white;
font-family:Arial, Helvetica, sans-serif;
margin:0;
text-align:center;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.products{
display:flex;
justify-content:center;
gap:30px;
padding:40px;
}

.card{
background:#111;
padding:20px;
border-radius:10px;
width:250px;
}

button{
padding:10px 20px;
background:#4da3ff;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}
